.quotePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: linear-gradient(-10deg, #ff0000 60%, #4753C1 60%);
  padding-top: 2rem;
  padding-bottom: 6rem;
}

.quote_Form {
  background: #fff;
  padding-top: 4rem;
  max-width: 1024px;
}

.quotePage_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 7px;
  height: 210px;
}

.quotePage_header_title {
  font-size: 11px;
  letter-spacing: 4px;
  color: #fff;
}

.quotePage_header_sub {
  position: relative;
  display: inline-block;
  font-size: 13px;
  letter-spacing: 3px;
  font-weight: 600;
  text-transform: uppercase;
}

.quotePage_header h1 {
  font-size: 3rem;
  font-style: italic;
  color: #fff;
  font-weight: 800;
}

.quotePage_header img {
  position: absolute;
  height: 170px;
  width: auto;
  margin-top: clamp(2rem, 3vw, 2rem);
  object-fit: contain;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 170px;
}

@media (min-width: 768px) {
  .quotePage_header {
    height: 280px;
  }

  .quotePage_header_sub::before,
  .quotePage_header_sub::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 80px;
    height: 1px;
    background-color: black;
    transform: translateY(-50%);
  }

  .quotePage_header_sub::before {
    right: 100%;
    margin-right: 20px;
  }

  .quotePage_header_sub::after {
    left: 100%;
    margin-left: 20px;
  }

  .quotePage_header h1 {
    font-size: 4.8rem;
  }

  .quotePage_header img {
    height: 240px;
    top: 190px;
  }

  .quote_Form {
    padding: 4rem 2rem;
  }
}

@media (min-width: 1024px) {
  .quotePage_header {
    height: 280px;
  }

  .quotePage_header img {
    height: 240px;
    top: 190px;
  }
}
